@use './variables' as *;
@use './colors' as *;
@use './breakpoints' as *;

body {
    background: $color-bg;
}

a {
    text-decoration: none;
    color: unset;
}

img {
    display: block;
    max-width: 100%;
  }

.gradient__bg {

    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

}

.gradient__text {
    background: $gradient-text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section__padding {
    padding: 2rem 2rem;
    @include tablet {
        padding: 4rem;
    }
    @include laptop {
        padding: 4rem 7.5rem;
    }
}

.section__margin {
    margin: 4rem 6rem;
    @include tablet {
        margin: 4rem;
    }
    @include mobile {
        margin: 4rem 2rem;
    }
}

